@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
// p {
//   @apply text-xl sm:text-2xl 2xl:text-3xl text-left py-4 px-0 2xl:px-48
// }

.react-images__view-image--isModal {
  display: inline-block;
  left: 50%
}

.customLink {
  @apply text-blue-600 after:content-['_↗']
}

.page {
  @apply container mx-auto font-atkinson
}

.content {
  @apply flex flex-col justify-center text-center space-y-4
}

.impactContent {
  @apply grid-cols-5 text-center gap-2 pt-4
}

.sectionContent {
  @apply text-2xl text-left px-4 md:px-16 pb-14
}

// .sectionHeader {
//   @apply text-left md:text-center font-bold text-3xl md:text-5xl text-tabTheme-200 px-4 md:px-16
// }

.tabGradientR {
  @apply bg-gradient-to-r from-tabTheme-200 to-tabTheme-100;
}

.tabGradientText {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-tabTheme-200 to-tabTheme-100;
}

.sectionHeader {
  @apply text-left md:text-center font-bold text-3xl md:text-5xl text-transparent bg-clip-text bg-gradient-to-t from-tabTheme-200 to-tabTheme-100 px-4 pb-4 md:px-16 select-none;
}

.sectionText {
  @apply text-lg sm:text-[20px] text-left py-3 px-0 2xl:px-48;
  line-height: 1.4;
}

.impactText {
  @apply text-base md:text-[20px] text-left py-4 px-4 lg:px-20 font-atkinson;
  line-height: 1.6;
}

.impactH3 {
  @apply text-xl sm:text-3xl 2xl:text-4xl text-left pt-6 pb-0 px-4 font-serif;
  line-height: 1;
}

textarea {
  @apply text-2xl
}

div.stick {
  @apply rounded-lg  ;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 180px;
  // border: 2px solid #4CAF50;
}

.growBox {
  flex-grow: 1
}

.growBox:hover {
  flex-grow: 3
}

@layer base {
  html {
    scrollbar-gutter: stable;
    // overflow-x: hidden;
  }
  .contact {
    position: absolute;
    width: 171.54px;
    height: 56px;
    left: 1037px;
    top: 64px;

    background: rgba(255, 185, 21, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
  }
  .donate {
    position: absolute;
    width: 177.63px;
    height: 56px;
    left: 1166.74px;
    top: 80px;

    background: rgba(255, 185, 21, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
  }

  .customNavEl {
    width: auto;
    font-size: "max(23px, 1.7vw)";
    height: "auto";
    padding-top: "min(10px, 0.7vw)";
    padding-bottom: "min(10px, 0.7vw)";
    transition-duration: "75ms";
    text-transform: "none";
    font-weight: 400;
  }
}
